# .envrc

# Check if inside a git repository
if git rev-parse --is-inside-work-tree >/dev/null 2>&1; then
    GIT_ROOT=$(git root)
    # Check if it is a git-annex repository
    if [ -d "${GIT_ROOT}/annex" ] || timeout 2s git annex info >/dev/null 2>&1
    then
        echo git remotes
        git remote -v
        echo -----------------------------------------
        echo List of annex unlocked files
        git annex find --not --locked
        echo -----------------------------------------
        echo gti annex status
        git annex status
        echo -----------------------------------------
        if [ -r ${GIT_ROOT}/.git/annex/daemon.pid ] && xargs ps < ${GIT_ROOT}/.git/annex/daemon.pid
        then
            echo "⚠️  WARNING: git-annex assistant is RUNNING in this repository."
        else
            echo "✅ NOTICE: git-annex assistant is NOT running in this repository."
        fi
    fi
fi


