# .envrc

# Check if inside a git repository
if git rev-parse --is-inside-work-tree >/dev/null 2>&1; then
    GIT_ROOT=$(git root)
    # Check if it is a git-annex repository
    if timeout 2s git annex info >/dev/null 2>&1
    then
        git remote -v
        if [ -r ${GIT_ROOT}/.git/annex/daemon.pid ] && xargs ps < ${GIT_ROOT}/.git/annex/daemon.pid
        then
            echo "⚠️  WARNING: git-annex assistant is RUNNING in this repository."
        else
            echo "✅ NOTICE: git-annex assistant is NOT running in this repository."
        fi
    fi
fi


